# Project exclude paths
HELP.md
target/

### IntelliJ IDEA ###
.idea
.jpb
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
nb-configuration.xml

### VS Code ###
.vscode/